# ignore all results folders
results/
results_db/
results.tar
.tmp/
visualizations/
temp/
processed/
plots/

# Default env folder for virtual env
env/

# ignore python caches
__pycache__
*.pyc

# ignore test experiments
test.json

# ignore editor settings
.vscode

# Tar files
*.tar.bz2

# Slurm output files
*.out

.DS_STORE
.python-version

# ignoring built version of mpi4py.
# This is for when you build mpi4py from source.
mpi4py-3.1.3

# This repo is the default repo for storing the experiment database
results_dbs/

# Local cache for plot info
local_cache.pkl