# ignore all results folders
results/
results_db/
results.tar
.tmp/
visualizations/
temp/
processed/
plots/

# Default env folder for virtual env
env/

# ignore python caches
__pycache__
*.pyc

# ignore test experiments
test.json

# ignore editor settings
.vscode

# Tar files
*.tar.bz2

# Slurm output files
*.out

.DS_STORE
.python-version